<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create A Receipts</title>
    <link rel="stylesheet" href="/stylesheets/game.css">
  </head>
  <body>
    <a href='https://www.sabahcarrentaltour.com/' target='_blank'>
      <img src="/images/cll-logo.png" alt="cll-logo" class='image-logo'>
    </a>
    <%= yield %>
  </body>
</html>
